In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os
import pickle

In [2]:
##Question 3 Importing the Orders/Products Merged Dataset##
df_ords_prods_comb = pd.read_pickle(r'/Users/smw/Desktop/9-29-20 Instacart Basket Analysis/02 Data/Prepared Data/orders_products_combined.pkl')

In [3]:
path = r'/Users/smw/Desktop/9-29-20 Instacart Basket Analysis'

In [4]:
df_ords_prods_comb = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [5]:
df_prods = pd.read_csv(r'/Users/smw/Desktop/9-29-20 Instacart Basket Analysis/02 Data/Prepared Data/products_checked.csv', index_col = False)

In [6]:
df_prods.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49693 entries, 0 to 49692
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     49693 non-null  int64
 1   product_id     49693 non-null  int64
 2   product_name   49677 non-null  object
 3   aisle_id       49693 non-null  int64
 4   department_id  49693 non-null  int64
 5   prices         49693 non-null  float64
dtypes: float64(1), int64(4), object(1)
memory usage: 2.3+ MB

In [7]:
## Question 4 Checking the shape of the imported dataframe ##
df_ords_prods_comb.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32434489 entries, 0 to 32434488
Data columns (total 11 columns):
 #   Column                  Dtype
---  ------                  -----
 0   Unnamed: 0              int64
 1   order_id                int64
 2   user_id                 int64
 3   order_#                 int64
 4   orders_day_of_week      int64
 5   order_hour_of_day       int64
 6   days_since_prior_order  float64
 7   product_id              int64
 8   add_to_cart_order       int64
 9   reordered               int64
 10  _merge                  category
dtypes: category(1), float64(1), int64(9)
memory usage: 2.7 GB

In [8]:
# Question 5  Merge df_prods and df_ords_prods_comb using product_id as a key ##

df_merged = df_ords_prods_comb.merge(df_prods, on = ['product_id'])

In [9]:
df_merged

,Unnamed: 0_x,order_id,user_id,order_#,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0_y,product_name,aisle_id,department_id,prices
0,0,2539329,1,1,2,8,NaN,196,1,0,both,195,Soda,77,7,9.0
1,1,2398795,1,2,3,7,15.0,196,1,1,both,195,Soda,77,7,9.0
2,2,473747,1,3,3,12,21.0,196,1,1,both,195,Soda,77,7,9.0
3,3,2254736,1,4,4,7,29.0,196,1,1,both,195,Soda,77,7,9.0
4,4,431534,1,5,4,15,28.0,196,1,1,both,195,Soda,77,7,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32434207,3360493,1320836,202557,17,2,15,1.0,43553,2,1,both,43557,Orange Energy Shots,64,7,3.7
32434208,3360494,31526,202557,18,5,11,3.0,43553,2,1,both,43557,Orange Energy Shots,64,7,3.7
32434209,3376038,758936,203436,1,2,7,NaN,42338,4,0,both,42342,"Zucchini Chips, Pesto",50,19,6.9
32434210,3376039,2745165,203436,2,3,5,15.0,42338,16,1,both,42342,"Zucchini Chips, Pesto",50,19,6.9
32434211,3408036,3093936,205420,1,4,14,NaN,28818,8,0,both,28820,Hot Oatmeal Multigrain Raisin,130,14,10.3

In [10]:
## Question 6 Confirming results using the merge flag ##
df_merged['_merge'].value_counts()

both          32434212
right_only           0
left_only            0
Name: _merge, dtype: int64

In [11]:
df_merged.shape

(32434212, 16)

In [12]:
df_prods.shape

(49693, 6)

In [ ]:
# Export data to pkl

df_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))